<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Saturn - BDI</title>
	{% include 'ares_part_header.html' %}

    <script>
        // https://powerbi.microsoft.com/en-us/documentation/powerbi-service-dashboard-tiles/

        function preloader() {
            $('#loading').show();
        }

        function display(data){
            $('#temp-message').html(data);
            $('#temp-message').show();
            $('#temp-message').fadeOut( 4000 );
        }

    {{ onload|safe }}
    </script>
</head>
<body oncontextmenu="return false;">
    {% include 'ares_part_navbar.html' %}
<div id="wrapper">	
	{% include 'ares_part_side_bar.html' %}
	
	<a href="#menu-toggle" id="menu-toggle"><i id='menu-icon' class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i></a>
	<!-- Page Content -->
	<div id="page-content-wrapper">
		{{ content|safe }}
	</div>
</div>	

<script>
    {{ js|safe }}

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        if($("#menu-icon").hasClass('fa-chevron-circle-left')) {$("#menu-icon").removeClass('fa-chevron-circle-left').addClass("fa fa-chevron-circle-right fa-2x");}
        else {$("#menu-icon").removeClass('fa-chevron-circle-right').addClass("fa fa-chevron-circle-left fa-2x");}
        $("#wrapper").toggleClass("toggled");
    });
    $("#wrapper").toggleClass("toggled");
</script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/map-graph.js') }}"></script>	
    <script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/geometry.js') }}"></script>
</body>


<div id="loading"><img src="/static/images/loading.gif" alt="Be patient.."/></div>
<div class="alert alert-success" id="temp-message">Test</div>
</html>