<div id="wrapper" style="font-size: 13px">
	<!-- Sidebar -->
	<div id="sidebar-wrapper" >

		<ul class="sidebar-nav">
          <h5 style="color:white; margin-top:30px; font-size:20px">&nbsp;<b><i class="fa fa-cog" aria-hidden="true">&nbsp;</i>Ares</b></h5>
          <li><a href="{{ url_for('ares.downloadAres') }}">Ares package</a></li>
          <li><a href="{{ url_for('ares.run_report', report_name='_AresReports', script_name='_AresReports') }}">Ares Environments</a></li>
          <li><a href="{{ url_for('ares.run_report', report_name='_AresEx', script_name='_AresEx') }}">Ares Examples</a></li>
          <li><a href="{{ url_for('ares.run_report', report_name='_AresDoc', script_name='_AresDoc') }}">About Ares</a></li>
          {{ side_bar|safe }}
		</ul>
	</div>

</div>