<!--
https://getbootstrap.com/docs/3.3/examples/navbar-fixed-top/
-->

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top" style="max-height:45px;position:fixed;top:0;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span></button>
    <a name="side_change" href="#" style="color:white;width:20px;z-index:1"><i class="fa fa-bars fa-2x"></i></a>
    <a class="navbar-brand" href="{{ url_for('ares.run_report') }}" style="margin-top:3px;left:50px;font-size: 20px;position:fixed;top:0"><strong>RiskLab</strong></strong></a>
    <div class="collapse navbar-collapse" style="left:0px;padding-left:150px;position:fixed;top:3px;display: inline-block;width:100%;z-index:-1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="#" class="btn btn-outline-success active" data-toggle="dropdown"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;{{ name|safe }}</a>
        </li>
      </ul>

      <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:white"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;HTML Archives</a>
          <div class="dropdown-menu">
              {{ htmlArchives|safe }}
          </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:white">Packages</a>
        <div class="dropdown-menu">
          <h6 class="dropdown-header">System</h6>
          <a class="dropdown-item" href="{{ url_for('ares.downloadPackage', name='ARES') }}">AReS Package</a>
          <a class="dropdown-item" href="{{ url_for('ares.downloadPackage', name='CHART') }}">Chart Service</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Other Metrics</h6>
          <a class="dropdown-item" href="{{ url_for('ares.downloadPackage', name='DUMMY') }}">Test 1</a>
          <a class="dropdown-item" href="#">Test 2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('ares.run_report', report_name='_AresPackages', script_name='_AresPackages') }}">Documentation</a>
        </div>
      </li>

      <form class="form-inline" style="float:right;margin-right:5px;">
        <input class="form-control mr-sm-2 " type="text" style="height: 30px" placeholder="Search" />
        <button class="btn btn-outline-success active" style="height: 30px;vertical-align: middle;padding-top:2px;padding-bottom:2px" type="submit">Search</button>
      </form>

    </div>
</nav>
