<!--
https://getbootstrap.com/docs/3.3/examples/navbar-fixed-top/
-->

<div class="navbar navbar-inverse bg-inverse navbar-fixed-top" role="navigation" style="display: inline;">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <img style="max-width:40px; margin-left: -130px; margin-top: 5px" src="../../static/images/logo.ico">
    <a class="navbar-brand" href="{{ url_for('ares.index') }}"><strong>&nbsp;&nbsp;&nbsp;&nbsp;RiskLab</strong></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav" style="display: inline;margin-left: 100px">
      <li class="dropdown">
        <a href="#" data-toggle="dropdown">Reports<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('ares.run_report', report_name='JsDesigner') }}">Designer</a></li>
          <li><a href="{{ url_for('ares.downloadAres') }}">Ares package</a></li>
          <li><a href="{{ url_for('ares.index') }}">Ares Environments</a></li>
          <li><a href="{{ url_for('ares.report_dsc_index') }}">About Ares</a></li>
        </ul>
      </li>
       <li class="dropdown">
        <a href="#" data-toggle="dropdown">MRX<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Screens</a></li>
          <li><a href="#">Import View Package</a></li>
          <li><a href="{{ url_for('ares.report_dsc_index') }}">About MRXImportView</a></li>
        </ul>
      </li>
      <li><a href="#">Saturn</a></li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right" style="display: inline;">
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div>
