<div id="wrapper">
	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li><a href="{{ url_for('ares.run_report', report_name='_AresReports', script_name='_AresReports') }}">Dashboard</a></li>
            <li><a href="/reports/download/ares">Download Package</a></li>
            <h4 style="color:white"><strong>&nbsp;Ares Doc</strong></h4>
            <li><a href="/reports/doc">Principal</a></li>
            <li><a href="/reports/doc/local">Local runs</a></li>
            <li><a href="/reports/doc/html">HTML wrappers</a></li>
            <li><a href="/reports/doc/graph">Graph wrappers</a></li>
            {{ side_bar|safe }}
		</ul>
	</div>

</div>