<div id="wrapper" style="font-size: 13px">
	<!-- Sidebar -->
	<div id="sidebar-wrapper">

		<ul class="sidebar-nav">
          <h5 style="color:white; margin-top:50px; font-size:20px">&nbsp;<b><i class="fa" aria-hidden="true">&nbsp;</i>AReS</b></h5>
          <li><a href="{{ url_for('ares.run_report', report_name='_AresReports', script_name='_AresReports') }}">AReS Environments</a></li>
          <li><a href="{{ url_for('ares.run_report', report_name='_AresEx', script_name='_AresEx') }}">AReS Examples</a></li>
          <li><a href="{{ url_for('ares.run_report', report_name='_AresDoc', script_name='_AresDoc') }}">About Ares</a></li>
          <!--<li><a id='save_html' href="#">Archive page</a></li>-->
          {{ side_bar|safe }}
            <br />
		</ul>
	</div>



</div>