<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<title>RiskLab</title>

{{ cssImport|safe }}

{{ jsImport|safe }}

<script>
    function preloader() {
        $('#loading').show();
    }

    function display(data){
        $('#temp-message').html(data);
        $('#temp-message').show();
        $('#temp-message').fadeOut( 4000 );
    }

    $(window).scroll(function() {
        $('#context-menu').hide() ;
    }) ;

    $(window).click(function() {
        // Function to close the context menu
        $("#context-menu").hide();
    });

    {{ jsGlobal|safe }}
    $(document).ready(function() {
        {{ jsOnload|safe }}
    }) ;

</script>
</head>
<body oncontextmenu="return false;">
    {% include 'ares_part_navbar.html' %}
    <!--
    Internal javascript functions not related to the HTML content
    Those are specific to the template on the server and they should not be shared
    -->
    <script>
    function ZoomIn(divId, chartId) {
        $("#popup-black-background").show();
        var newStyleProps = {'position':'fixed', width: '80%', height: '80%', 'z-index': 5000, 'background-color': 'white', top: "10%", left: "15%"};
        var oldStyleProps = $("#" + divId).css(Object.keys(newStyleProps));

        $("#" + divId).css(newStyleProps);
        window.dispatchEvent(new Event('resize'));

        $("#popup-black-background").click(function() {
            // Reload the charts directly instead of trying to resize them
            $("#popup-black-background").hide();
            $("#" + divId).css(oldStyleProps);
            window.dispatchEvent(new Event('resize'));
        });

    };

    $(document).ready(function() {

        $('a[name="side_change"]').click(function () {
            $("#wrapper").toggleClass("toggled");
            localStorage.setItem("wrapper", $("#wrapper").hasClass("toggled"));
        });

        $('button[name="ares_min"]').click(function () {
             var idEvent = $(this).attr('id').replace("_min", "") ;
             $('#' + idEvent).toggle() ;
        });

        $('button[name="ares_close"]').click(function () {
              var idEvent = $(this).attr('id').replace("_close", "") ;
              $('#' + idEvent + '_main').remove() ;
        });

        $('#save_html').click(function () {
            // document.documentElement.outerHTML
            console.log($("head").html());
            //console.log($('#page-content-wrapper').html());
        });

        $.ajaxSetup({
            beforeSend:function(){
                // show image here
                $("#loading").show();
            },
            complete:function(){
                // hide image here
                $("#loading").hide();
            }
        });
    }) ;
    </script>

<div id="wrapper" class="toggled" style="background-color: #fff">
	{% include 'ares_part_side_bar.html' %}
	<!--
	<a href="#menu-toggle" id="menu-toggle"><i id='menu-icon' class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i></a>
	 Page Content

	-->

<div id="page-content-wrapper">
    <!-- PYTHON CONTENT  -->
            {{ content|safe }}

    <!-- END PYTHON CONTENT  -->
</div>

</div>	

<script>
    if (localStorage.getItem("wrapper") == 'false'){
        $("#wrapper").toggleClass("toggled");
    }
{{ jsGraphs|safe }}
</script>

<div id="loading"><img src="/static/images/loading.gif" alt="Be patient.."/></div>
<div class="alert alert-success" id="temp-message">Test</div>
<div id="context-menu">Test</div>
<div id="popup-chart">&nbsp</div>
<div id="popup-info">RRRRR</div>
<div id="popup-black-background">&nbsp;RR</div>

</body>
<footer role="contentinfo" style="text-align: center"><p>
  Open Framework 2017 - <a href="{{ url_for('ares.run_report', report_name='_AresDoc', script_name='_AresDoc') }}">The Lab</a> -
  <span class="credit">Powered by <a href="#">BDI Team</a></span>
</p>

</footer>
</html>
