
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery-ui.css') }}"  type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/nv.d3.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/svg.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.dataTables.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-simple-sidebar.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/metro-bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bdi.css') }}"  type="text/css" />

    <script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/jquery-ui.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/transition.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/collapse.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/d3.v3.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/nv.d3.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/d3.layout.cloud.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/colorbrewer.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/jquery.dataTables.min.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/pdfmake.min.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/vfs_fonts.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/ares.js') }}"></script>