<!--
https://getbootstrap.com/docs/3.3/examples/navbar-fixed-top/
-->
<div class="navbar navbar-inverse bg-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">RiskLab</a>
        </div>

        <div class="collapse navbar-collapse">
          <div class="navbar-right">

            <div id="bannerads-container">
              <div class="bannerad">
                <span class="bannerad-image">
                  <a href="http://themeforest.net/search?term=metro&ref=talkslab" title="ThemeForest" target="_blank">
                    <img class="bannerad-img" src="images/banners/banner1.png" title="ThemeForest" alt="ThemeForest" height="90" width="120">
                  </a>
                </span>
                <span class="bannerad-text">
                  <a href="http://themeforest.net/search?term=metro&ref=talkslab" target="_blank">
                    Get metro templates
                    <small>
                      Find the best modern, responsive, elegant and professional metro-style templates for your site.
                    </small>
                  </a>
                </span>
                <!--
                <span class="bannerad-tag">
                  ads via <a href="http://talkslab.com">TalksLab</a>
                </span>
                -->
              </div>
            </div>

          </div>
        </div>

</div>
      </div>