<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Saturn - BDI</title>
        {{ cssImport|safe }}

        {{ jsImport|safe }}

    <script>
        // https://powerbi.microsoft.com/en-us/documentation/powerbi-service-dashboard-tiles/

        function preloader() {
            $('#loading').show();
        }

        function display(data){
            $('#temp-message').html(data);
            $('#temp-message').show();
            $('#temp-message').fadeOut( 4000 );
        }

        $(window).scroll(function() {
            $('#context-menu').hide() ;
        }) ;

        $(window).click(function() {
            // Function to close the context menu
            $("#context-menu").hide();
        });


        $(document).ready(function() {
            // Remove the dom component fromt the page
            $('button[name="ares_close"]').click(function () {
                var idEvent = $(this).attr('id').replace("_close", "") ;
                $('#' + idEvent + '_main').remove() ;
            });

            //
            $('button[name="ares_min"]').click(function () {
                var idEvent = $(this).attr('id').replace("_min", "") ;
                $('#' + idEvent).toggle() ;
                if ($('#' + idEvent).is(":visible")) {
                    $(this).html('<i class="fa fa-window-minimize" aria-hidden="true"></i>') ;
                }
                else {
                    $(this).html('<i class="fa fa-window-maximize" aria-hidden="true"></i>') ;
                }

            });
            //$("#wrapper").toggleClass("toggled");
        }) ;

    {{ onload|safe }}
    </script>
</head>
<body oncontextmenu="return false;" style="background-color: #f4f4f4">
    {% include 'ares_part_navbar.html' %}

<div id="wrapper" class="toggled" style="background-color: #fff">
	{% include 'ares_part_side_bar.html' %}
	<!--
	<a href="#menu-toggle" id="menu-toggle"><i id='menu-icon' class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i></a>
	 Page Content

	-->

<div id="page-content-wrapper">
    <!-- PYTHON CONTENT  -->
            {{ content|safe }}

    <!-- END PYTHON CONTENT  -->
</div>

</div>	

<script>
    {{ js|safe }}
</script>

<div id="loading"><img src="/static/images/loading.gif" alt="Be patient.."/></div>
<div class="alert alert-success" id="temp-message">Test</div>
<div class="" id="context-menu">Test</div>

</body>
</html>
