<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Saturn - BDI</title>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bdi.css') }}"  type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery-ui.css') }}"  type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/nv.d3.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-select.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/svg.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.dataTables.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-simple-sidebar.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/metro-bootstrap.min.css') }}" type="text/css">


    <script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/jquery-ui.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/bootstrap-select.min.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/d3.v3.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/nv.d3.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/d3.layout.cloud.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/colorbrewer.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/jquery.dataTables.min.js') }}"></script>

    <script>
        function preloader() {
            $('#loading').show();
        }

        function display(data){
            $('#temp-message').html(data);
            $('#temp-message').show();
            $('#temp-message').fadeOut( 4000 );
        }
    {{ onload|safe }}
    </script>
</head>
<body oncontextmenu="return false;">

<div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#"><i class="fa fa-code" aria-hidden="true"></i>&nbsp;RiskLab</a></li>
                <li><a href="#">Dashboard</a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <a href="#menu-toggle" id="menu-toggle"><i id='menu-icon' class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i></a>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="row">
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail tile tile-medium tile-midnight-blue">
                        <a href="#" class="fa-links">
                            <h1>Home</h1>
                            <i class="fa fa-3x fa-home"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail tile tile-medium tile-green">
                        <a href="#" class="fa-links">
                            <h1>Sucess</h1>
                            <i class="fa fa-3x fa-home"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail tile tile-medium tile-blue">
                        <a href="#" class="fa-links">
                            <h1>Info</h1>
                            <i class="fa fa-3x fa-home"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail tile tile-medium tile-pumpkin">
                        <a href="#" class="fa-links">
                            <h1>Warning</h1>
                            <i class="fa fa-3x fa-home"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="thumbnail tile tile-medium tile-red">
                        <a href="#" class="fa-links">
                            <h1>Danger</h1>
                            <i class="fa fa-3x fa-home"></i>
                        </a>
                    </div>
                </div>
            </div>

                {{ content|safe }}
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>


<script>
    {{ js|safe }}

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        if($("#menu-icon").hasClass('fa-chevron-circle-left')) {$("#menu-icon").removeClass('fa-chevron-circle-left').addClass("fa fa-chevron-circle-right fa-2x");}
        else {$("#menu-icon").removeClass('fa-chevron-circle-right').addClass("fa fa-chevron-circle-left fa-2x");}
        $("#wrapper").toggleClass("toggled");
    });

</script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/map-graph.js') }}"></script>	
    <script language="javascript" type="text/javascript" src="{{ url_for('static',filename='js/geometry.js') }}"></script>
</body>


<div id="loading"><img src="/static/images/loading.gif" alt="Be patient.."/></div>
<div class="alert alert-success" id="temp-message">Test</div>
</html>